{% extends 'indexadmin.html'%}
{% block body %}
<body>
<div align="center">
	<br>
	<br>
	<br>


    					<p align="center" style="font-family: 'Brush Script MT', cursive;font-size:370%;color:white;">WELCOME TO ADMIN HOME!!</p>
	<br>
	<br>
		<br>



<!--<table width="323" height="171" border="1">-->
  <!--<caption align="top">-->
    <!--HOME-->
  <!--</caption>-->
  <!--<tr>-->
    <!--<th scope="col"><p><a href="/viewproduct">ADD/MANAGE PRODUCT </a></p>-->
    <!--<p>&nbsp;</p></th>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><div align="center"><a href="/viewfeedback"><strong>VIEW FEEDBACK</strong></a><a href="#"></a></div></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><div align="center"><a href="/viewcomplaint"><strong>VIEW COMPLAINTS</strong></a><a href="#"></a></div></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><div align="center"><a href="/"><strong>LOGOUT</strong></a></div></td>-->
  <!--</tr>-->
<!--</table>-->
</div>
</body>
</html>
{% endblock %}
