{% extends 'indexuser.html'%}
{% block body %}

<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f3f3f3;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D81B60;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  Reviews 
  <label>
  <textarea name="textarea"></textarea>
  </label>
  <label>
  <input type="submit" name="Submit" value="Submit" />
  </label>
</form>

</body>
</html>
{% endblock%}
