<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f3f3f3;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D81B60;
  color: white;
}
</style>
</head>

<body>
<div align="center">
  <table width="387" border="0" id="customers">
    <caption align="top">
       Login
    </caption>
    <tr>
      <th width="142" height="57" scope="row">Username</th>
      <td width="229"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <th height="55" scope="row">Password</th>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <th height="56" colspan="2" scope="row"><label>
        <div align="center">
          <input type="submit" name="Submit" value="LOGIN" />
          </div>
      </label></th>
    </tr>
    <!--<tr>-->
      <!--<th height="36" colspan="2" scope="row"><a href="#" class="style1">REGISTER</a></th>-->
    <!--</tr>-->
  </table>
</div>
<div align="center"></div>
</body>
</html>
