{% extends 'indexadmin.html'%}
{% block body %}
<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers td{background-color: #f3f3f3;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#3268ac;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="/viewfeedback">
<div align="center">
    <caption align="top"><h2><strong>VIEW FEEDBACK</strong></h2>
  </caption>
<table width="900" height="" border="1" id="customers">
  <tr>
    <th scope="col" width="400">Username</th>
    <th scope="col" width="400">Feedback</th>
    <th scope="col" width="400">Date</th>
  </tr>
 {% for i in val %}
  <tr>
    <td>{{i[0]}} &nbsp;</td>
    <td>{{i[3]}}&nbsp;</td>
    <td>{{i[4]}}&nbsp;</td>
  </tr>
  {% endfor %}
</table>
</div>
</form>
</body>
</html>
{%endblock%}
